*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cubo{
    width: 100%;
    margin-top: -3%;
    margin-left: 35%;
}

:root{
    --primary-color: hsl(16, 99%, 45%);
    --secundary-color: #FFF1CC;
    --shadow-color: #CCC;
    --text-color: #FFF;
}


body{
    background: rgb(0,0,0);
    background: linear-gradient(5deg, rgba(0,0,0,1) 0%, rgba(254,80,0,1) 0%, rgba(0,0,0,1) 100%, rgba(254,80,0,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
    position:relative;
}
img {
    width: 10%;
}

header{
    height: 70px;
    text-align: center;
    line-height: 70px;
}

.header-title{
    color: black;
    font-size: 2rem;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 5vh auto;
    padding: 50px;
    gap: 20px;
}

footer{
    width:100;
    text-align: center;
    font-weight: 200;
    padding: 20px;
}

@media (max-width: 700px){
.cubo{
    width: 0%;
}
img{
    margin-left: 12%;
    width: 25%;
}
body{
    margin-left: -16%;
    font-size: 12px;
}
footer{
    margin-left: 12%;
}
}