.accordion {
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.accordion-item {
    margin-bottom: 0px;
    border-left: 4px solid #c0530b;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.516);
}

.accordion-button.first{
    border-top-right-radius: 5px;
}

.accordion-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #fad9ca;

    color: #000000;
    font-weight: 600;
    border: none;

    cursor: pointer;

    padding: 0.8rem 0.5rem;
    width: 100%;
}

.accordion-button-infos{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    text-align: left;
}

.accordion-button>.fa-solid{

    transition: all 0.3s ease-in-out;
}
.accordion-button[aria-expanded="true"] {
    border-bottom: 1px solid rgb(46, 46, 46);
}

.accordion-button[aria-expanded="true"]>.fa-solid{
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

.accordion-collapse {
    background-color: #f8f9fa;
    max-height: 200px;
    transition: max-height 0.3s ease;
    border: 1px solid #dee2e6;

}

.accordion-collapse:not(.show) {
    border: none;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.3s ease;

}

.accordion-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1.2rem;
    gap: 1.4rem;
}

.accordion_info_row{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.accordion_info_row .label{
    font-weight: 600;
}

.accordion_actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.accordion_actions button{
    padding: 0.6rem 1rem;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.accordion_actions .show{
    background-color: var(--verde);
}

.accordion_actions .edit{
    background-color: var(--amarelo);
}

.accordion_actions .delete{
    background-color: var(--vermelho);
}