body,main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

body{    
    font-size: 16px;
    font-family: 'Amethysta';

    background-color: black;
}

.lp-first-section,.lp-second-section{
    display: flex;
    flex-direction: row;

    align-items: start;
    justify-content: center;

    padding: 1rem 0;
    height: 90vh;
    margin: 2rem 0;

}

.lp-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.lp-column:nth-of-type(2){
    justify-content: space-between;

}

.lp-post{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Amethysta';

    width: 70%;

    background-color: white;
    
    gap: 1rem;
    padding: 1rem 0.6rem;
    box-shadow: 6px 5px 10px rgb(254,80,0);

    height: 100%;
}

.lp-post-title{
    font-family: 'Orbitron';
    font-size: 1.5rem;

}

.lp-post-img{
    width: 90%;
    max-height: 175px;
    box-shadow: 0px 0px 10px 1px rgb(255, 215, 0);
    border-radius: 6px;
}

.lp-post-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 60%;

    box-sizing: border-box;
    border-radius: 4px;
    background-color: black;
    color: white;

    padding: 0.8rem 0.4rem;
}

.lp-post-content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lp-post-desc{
    width: 80%;

    text-align: justify;

    font-size: 1.2rem;
}

.lp-button{
    background-color: #fffafa;
    padding: 1rem 0;
    width: 80%;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Orbitron';
    opacity: 1;
    transition: 1s;
}

.lp-button:hover {
    font-size: 1.1rem;
    opacity: 0.7;
    transition: 1s;
}


.lp-button a {
    color: black;
    text-decoration: none;
}

.image-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-image{
    width: 50%;
}

.special-card,.special-card-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.special-card{
    width: 80%;
    background-color: white;
    padding: 1rem;
    box-shadow: 6px 5px 10px rgb(254,80,0);

}

.special-card-bg{
    width: 90%;
    background-color: black;
    gap: 1rem;
    border-radius: 6px;
    padding: 1rem 1rem;
    box-shadow: 0px 0px 0px 3px rgb(0, 61, 165);
}

.lp-mid-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    background: url('../../../public/assets/Imagem cubo2.webp') no-repeat center/cover;

    text-align: center;

    height: 200px;
}

.lp-title{
    font-size: 2rem;
    color: white;
    font-weight: BOLD;
    text-shadow: 0 0 1px 10px black;
    font-family: 'Orbitron';
}


@media only screen and (max-width: 767px) {
    .lp-first-section,.lp-second-section{
        flex-direction: column;
        height: 100%;
        gap: 1rem;
    }

    .lp-column{
        width: 100%;
    }

    .lp-post{
        width: 90%;
    }

    .lp-post-title{
        font-size: 1.2rem;
    }

    .lp-post-desc{
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .special-card-bg button{
        width: 100%;
    }
}