:root {
    --preto: #000000;
    --amarelo: #ffd700;
    --amarelo-claro: #dad09a;
    --vermelho: #b60c2f;
    --verde: #009a44;
    --azul: #003da5;
    --laranja: #fe5000;
    --branco: #ffffff;
    --primary-color: black;
}

body,main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

body{    
    font-size: 16px;
    font-family: 'Amethysta';

    background-color: black;
}

.lp-first-section,.lp-second-section{
    display: flex;
    flex-direction: row;

    align-items: start;
    justify-content: center;

    padding: 1rem 0;
    height: 100%;
    margin: 2rem 0;

}

.lp-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.lp-column:nth-of-type(2){
    justify-content: space-between;

}

.lp-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    font-family: 'Amethysta';

    width: 70%;

    background: linear-gradient(136deg, rgb(0, 0, 0) 0%, hsl(19, 100%, 50%) 0%, #000000 90%);
    
    gap: 1rem;
    padding: 1rem 0.6rem;
    box-shadow: 6px 5px 10px rgba(254, 80, 0, 0.568);

    min-height: 600px;

    height: 100%;
}

.lp-post-title{
    font-family: 'Orbitron';
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.lp-post-img{
    width: 90%;
    max-height: 175px;
    box-shadow: 0px 0px 10px 1px rgb(255, 215, 0);
    border-radius: 6px;
}

.lp-post-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 100%;

    gap: 1rem;

    box-sizing: border-box;
    border-radius: 4px;
    background-color: black;
    box-shadow: 0px 0px 0px 3px rgb(165, 0, 0);
    color: white;

    padding: 0.8rem 0.4rem;
}

.lp-post-content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lp-post-desc{
    width: 80%;

    text-align: justify;

    font-size: 1.1rem;
}

.lp-button{
    background-color: #fffafa;
    padding: 1rem 0;
    width: 80%;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Orbitron';
    opacity: 1;
    transition: 1s;
}

.lp-button:hover {
    font-size: 1.1rem;
    opacity: 0.7;
    transition: 1s;
}


.lp-button a {
    color: black;
    text-decoration: none;
}

.image-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-image{
    width: 50%;
}

.special-card,.special-card-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.special-card form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.special-card{
    width: 80%;
    background: linear-gradient(136deg, rgb(0, 0, 0) 0%, hsl(19, 100%, 50%) 0%, #000000 90%);
    padding: 1rem;
    box-shadow: 6px 5px 10px rgba(254, 80, 0, 0.568);


}

.special-card-bg{
    width: 90%;
    background-color: black;
    gap: 1rem;
    border-radius: 6px;
    padding: 1rem 1rem;
    box-shadow: 0px 0px 0px 3px rgb(165, 0, 0);
}

.lp-mid-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    background: radial-gradient(circle, rgb(36, 32, 0) 0%, rgba(9, 9, 121, 0) 82%),url('../../../public/assets/Imagem cubo2.webp') no-repeat center/cover;

    text-align: center;

    height: 200px;
}

.lp-title{
    font-size: 2rem;
    color: white;
    font-weight: BOLD;
    text-shadow: 0 0 1px 10px black;
    font-family: 'Orbitron';
}

.lp-post-date{
    color: white;
    font-family: 'Orbitron';

}

.button_readmore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;

    margin: 0 auto;

    margin-bottom: 1rem;
}

.button_readmore:hover{
    cursor: pointer;
    transition: all 0.4s;
    transform: scale(1.05);
}

.button_readmore a{
    background-color: var(--laranja);
    white-space: nowrap;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    font-family: 'Orbitron';
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    z-index: 2;
}

.button_readmore span{
    margin-top: -2rem;
    z-index: 1;
    background-color: var(--laranja);
    padding: 2rem 1rem 0.6rem 1rem;
    border-radius: 50%;
}

.button_readmore span i{
    z-index: 2;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .lp-first-section{
        flex-wrap: wrap;
    }

    .lp-first-section .lp-column:nth-of-type(2){
        width: 100%;
        order: 1;
        margin-bottom: 1rem;
    }

    .lp-first-section .lp-column:nth-of-type(1){
        order: 2;
        width: 50%;
    }

    .lp-first-section .lp-column:nth-of-type(3){
        order: 3;

        width: 50%;
    }

    .special-card{
        width: 85%;
    }

    .lp-second-section{
        gap: 1rem;
        padding: 0 0.4rem;
    }

    .lp-second-section .lp-column{
        width: 32%;
    }

    .lp-second-section .lp-post{
        width: 100%;
        text-wrap: wrap;
    }

    .lp-post-title{
        text-wrap: wrap;
        font-size: 0.8rem;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .lp-post-img{
        height: 140px;
        min-height: 140px;
        max-height: 140px;
    }

    .lp-post-desc{
        font-size: 1.2rem;

        height: 230px;

        overflow: hidden;
    }
}

@media only screen and (max-width: 767px) {
    .lp-first-section,.lp-second-section{
        flex-direction: column;
        height: 100%;
        gap: 1rem;
    }

    .lp-column{
        width: 100%;
    }

    .lp-post{
        width: 90%;
    }

    .lp-post-title{
        font-size: 1.2rem;
    }

    .lp-post-desc{
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .special-card{
        width: 90%;
    }

    .special-card-bg button{
        width: 100%;
    }
}