body,main{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;

    height: 100vh;
}

.button{
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    background-color: black;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .4s ease;
    font-family: 'Orbitron', sans-serif;
    border-radius: 12%;
}

.button.cancel{
    background-color: red;
}

button.yellow{
    background-color:  green;
}
