:root {
    --preto: #000000;
    --amarelo: #ffd700;
    --amarelo-claro: #dad09a;
    --vermelho: #b60c2f;
    --verde: #009a44;
    --azul: #003da5;
    --laranja: #fe5000;
    --branco: #ffffff;
    --primary-color: black;
}
textarea {
    resize: vertical;
  }


  ::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(34,12,0,1) 0%, rgba(23,8,0,1) 65%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
    font-family: 'Orbitron', sans-serif;
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 150px;
}
.cubo{
    width: 120px;
}

.newUserBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -70px;
}


.tabela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}
table{
    width: 80%;
}


tbody tr:nth-child(odd) {
    background: white;
}
  
tbody tr:nth-child(even) {
    background: hsl(16, 99%, 63%);
}


.baixo{
    margin-top: 9%;
    text-align: center;
}


td{
    padding-left: 20px;
}



.botoes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    gap: 1rem;

    justify-content: center;
    align-items: center;

    height: 50px;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-style: none;
    height: 38px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow .4s ease;
    font-family: 'Orbitron', sans-serif;
    border-radius: 4px;
}
.button.cancel{
    background-color: #ff0000;
}
.button.blue{
    height: 40px;
    border-radius: 12%;
    margin-left: -30px;
    background-color: #ffffff;
}

button.yellow{
    margin-left: -3px;
    border-radius: 3px;
    background-color:  #009a44;
}

button.green{
    height: 38px;
    margin-left: -3px;
    background-color: #ffd700;
}

button.red{
    margin-left: -4px;
    background-color: #b50c2f;
}

.button:hover{
    box-shadow: inset 200px 0 0 #00000055;
}


thead{
    background-color: hsl(16, 99%, 45%);
    height: 50px;
}
tbody{
    background-color: white;
}


.icon{
    width: 38px;
    border-radius: 4px;
}


footer{
    color: white;
}




.modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #00000090;
    opacity: 0;
    z-index: -1;
}

.modal.active{
    opacity: 1;
    z-index: 10;
}

.modal-content{
    display: none;
    flex-direction: column;
    gap:20px;
    width: 40vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
}

.modal-content-active{
    display: flex;
}

.modal-header{
    display: flex;
    position: relative;
    justify-content: center;

    line-height: 40px;
    font-size: 1rem;
}
.modal-header.deleteuser{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.modal-close:hover{
    background-color: #FF4949;
    color: white;
}

.modal-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;
    padding: 0 20px;
}

.modal-form img{
    width: 30%;
}

.modal-field{
    width: 100%;
    height: 40px;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px black;
    padding: 0 10px;
    font-size:1rem;
}

.post-content {
    height: auto;
}

.modal-field:focus{
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 3px var(--primary-color);
}


.modal-footer{
    background-color: inherit;
}


.mobile-listing{
    display: none;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {

    .button span{
        display: none;
    }

}

@media only screen and (max-width: 767px){


.button span{
    display: none;
}

.tabela{
    display:none;
}

h2{
    font-size: 20px;
    padding-left: 5px;
}

.modal-header{
    padding-left: 15px;
    height: 120px;
}
.modal-content{
    width: 250px;
}
.modal-header.new-user{
    text-align: center;
}

td{
    padding-left: 5px;
}

.button{
    height: 30px;
    font-size: 16px;
}

button.green{
    height: 30px;
}

.cubo{
    width: 90px;
    margin-left: 25px;
}

    .desktop-listing {
        display: none;
    }

    .accordion-header{
        padding-left: 0;
    }
    
    .mobile-listing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .accordion_info_row .info{
        overflow-x: scroll;
    }

    .mobile-listing h2{
        margin: 0;
    }

    .table-header {
        display: flex;
        flex-direction: row;
        justify-content: center;

        background-color: var(--laranja);
        border-radius: 6px;

        padding: 1rem 0;
        width: 90%;

        font-size: 1.2rem;
        font-weight: 600;
    }
}