body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(34,12,0,1) 0%, rgba(23,8,0,1) 65%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
    font-family: 'Orbitron', sans-serif;
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 150px;
}
.cubo{
    width: 120px;
}

.newUserBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -70px;
}


.tabela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}
table{
    width: 80%;
}


tbody tr:nth-child(odd) {
    background: white;
}
  
tbody tr:nth-child(even) {
    background: hsl(16, 99%, 63%);
}


.baixo{
    margin-top: 9%;
    text-align: center;
}


td{
    padding-left: 20px;
}



.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.button{
    border-style: none;
    height: 38px;
    font-size: 16px;
    cursor: pointer;
    transition: box-shadow .4s ease;
    font-family: 'Orbitron', sans-serif;
    border-radius: 4px;
}
.button.cancel{
    background-color: #ff0000;
}
.button.blue{
    height: 40px;
    border-radius: 12%;
    margin-left: -30px;
    background-color: #ffffff;
}

button.yellow{
    margin-left: -3px;
    border-radius: 3px;
    background-color:  #009a44;
}

button.green{
    height: 38px;
    margin-left: -3px;
    background-color: #ffd700;
}

button.red{
    margin-left: -4px;
    background-color: #b50c2f;
}

.button:hover{
    box-shadow: inset 200px 0 0 #00000055;
}


thead{
    background-color: hsl(16, 99%, 45%);
    height: 50px;
}
tbody{
    background-color: white;
}





.icon{
    width: 38px;
    border-radius: 4px;
    margin-left: 3%;
}


footer{
    color: white;
}




.modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #00000090;
    opacity: 0;
    z-index: -1;
}

.modal.active{
    opacity: 1;
    z-index: 10;
}

.modal-content{
    display: none;
    flex-direction: column;
    gap:20px;
    width: 40vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
}

.modal-content-active{
    display: flex;
}

.modal-header{
    display: flex;
    position: relative;
    justify-content: center;
    height: 70px;
    line-height: 40px;
    font-size: 1rem;
}
.modal-header.deleteuser{
    padding-left: 20px;
}
.modal-close{
    position: absolute;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.modal-close:hover{
    background-color: #FF4949;
    color: white;
}

.modal-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.modal-field{
    width: 100%;
    height: 40px;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px black;
    padding: 0 10px;
    font-size:1rem;
}

.modal-field:focus{
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 3px var(--primary-color);
}


.modal-footer{
    background-color: inherit;
    text-align: right;
    padding: 0 20px;
}

.del{
    text-align: center;
}


@media only screen and (max-width: 700px){


.icon{
    width: 0%;
}

.tabela{
    display:block;
}

h2{
    font-size: 20px;
    padding-left: 5px;
}

.modal-header{
    padding-left: 15px;
    height: 120px;
}
.modal-content{
    width: 250px;
}
.modal-header.new-user{
    text-align: center;
}

td{
    padding-left: 5px;
}

.button{
    height: 30px;
    font-size: 16px;
}

button.green{
    height: 30px;
}

.cubo{
    width: 90px;
    margin-left: 25px;
}
}