@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&family=Oswald:wght@200&display=swap');

body,main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header,footer{
  width: 100%;
}

body{
  width: 100%;
  font-family: 'Orbitron';
  background-color: #1B1B1B;
  font-size: 16px;
}


.barra_pesquisa,.search-container,.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-container{
  width: 85%;
  position: relative;

}

.barra_pesquisa{
  width: 100%;

  margin-bottom: 20px;
  margin-top: 2rem;
  position: relative;

}

.search-form{
  width: 100%;
  position: relative;
}

.search-form button{
  right: 0;
  position: absolute;
  color: white;
  background-color: black;

  height: 100%;
  width: 50px;
}

#searchInput {
  width: 100%;
  padding: 12px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
  border-radius: 4px;
  outline: none;
  background-image: url('https://cdn-icons-png.flaticon.com/512/16/16492.png');
  background-position: calc(100% - 20px) center; 
  background-repeat: no-repeat;
  background-size: 23px; 
}

.postPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  background-color: #fe5000;
  border: 2px solid black;
  width: 86%;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
  border-radius: 4px;
  position: static;
  background: linear-gradient(136deg, rgb(0, 0, 0) 0%, hsl(19, 100%, 50%) 0%, #000000 90%);
  color: #fffafa;

  padding: 0 1rem 1rem 1rem;
}

.imagemPrincipal {
  margin-top: 30px;
  width: 30%; 
  height: auto;
  border-radius: 4px;
}

#metadeTela{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(238,174,202);
  background-image: radial-gradient(circle, rgba(238,174,202,0) 0%, rgb(0, 0, 0) 41%), url('https://images4.alphacoders.com/606/606866.jpg');
  background-position: center;

  width: 100%;
  height: 200px;
}

#metadeTela h1{
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0px 0px 12px black;
}

.postSection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  padding: 0 8%;

}

#postList{
  width: 100%;
  margin-bottom: 2rem;
  min-height: 70vh;
}

.post{
  font-size: 1rem;

  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  
  gap: 12px;

  width: 30%; 

  max-width: 30%;

  flex-grow: 1;
  
  background: linear-gradient(136deg, rgb(0, 0, 0) 0%, hsl(19, 100%, 50%) 0%, #000000 90%);
  background-color: #fe5000;
  
  border: 2px solid black;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
  border-radius: 10px;

  padding: 20px;
  color: #fffafa;
}

.post h2{
  text-align: center;
}

.post p:nth-of-type(2){
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
}

.imagemPadrao{
  width: 100%;
  min-height: 300px;
  max-height: 300px; 
}

.post-content{
  text-align: justify;
}

.post:hover, .postPrincipal:hover{
  transform: scale(1.04);
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(102, 102, 102, 0.52);

}

.see-post-button{
  border: none;
  border-radius: 6px;
  padding: 0.6rem 1rem;
  font-family: 'Orbitron';
  font-weight: 600;
  font-size: 1.2rem;
}

.see-post-button:hover{
  cursor: pointer;
  opacity: 0.7;
}

.pagination{
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  gap: 1rem;
  margin: 1rem 0;
}

.pagination-box-link{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: white;
  font-size: 1.2rem;

  width: 30px;
  height: 30px;

  border-radius: 50%;

}

.pagination-box-link:hover{
  background-color: rgb(202, 134, 98);
}

.pagination-box-link--active{
  background-color: white;
  color: black;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  #postList{
    min-height: 60vh;
  }

  .postSection{
    padding: 0 4%;
  }

  .post{
    max-width: 34%;
  }

  .post-date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .post h2{
    text-align: center;
    height: 40px;
  }

  .post .imagemPadrao{
    min-height: 180px;
    max-height: 180px;
  }
}

@media only screen and (max-width: 767px) {

  .search-container {
    width: 83%;
  }
  .postSection{
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }
      
  .postPrincipal {
    width: 100%;
  }

  #metadeTela{
    width: 100%;
    height: 100px;
    background: rgb(238,174,202);
    background-image: radial-gradient(circle, rgba(238,174,202,0) 0%, rgba(25, 68, 73, 0.374) 41%), url('https://images4.alphacoders.com/606/606866.jpg');
  }

  #metadeTela h1{
    font-size: 0.8rem;
  }

  .post{
    font-size: 0.8rem;
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    text-align: center;
  }

  .post p:nth-of-type(1){
    line-height: 1rem;
  }

  .post p:nth-of-type(2){
    text-align: justify;
  }

  .imagemPadrao{
    width: 100%;
    min-height: 170px;
    max-height: 170px;
  }

}