
body {
    background-color: black;
    text-align: center;
    background-image: url(../../public/assets/Formas.png);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Orbitron', sans-serif;



}

main{
    margin: 4rem 0;
}
.exemplo{
    border-left: 37.077px solid rgba(254, 80, 0, 0.60);
    border-top-left-radius:30px ;
    border-bottom-left-radius: 30px;
    font-family: 'Orbitron', sans-serif;

}

.barralateral{
    width: 37.077px;
    height: 450vh;
    flex-shrink: 0;
    border-radius: 30px 0px 0px 30px;
    background: rgba(254, 80, 0, 0.60);
    display: inline-block;
    
}

.direita{
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 70%;
}

.titulos{
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.titulos h1{
    color: white;
    font-size: 56px;

}

.titulos h2{
    color: white;
    font-size: 28px;
    text-align: left;
    margin-left: 50px;

}

.titulos h3{
    color: white;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;

}

.titulos img{
    margin-left: 50px;
    height: 500px;
    border-radius: 6px;
    box-shadow: 2px 2px 20px 2px rgba(255, 255, 255, 0.336);
}

.texto h3 {
    font-size: 24px;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    text-align: justify;
    line-height: 40px;
    font-weight: 200;
}
.texto p{
    margin-bottom: 50px;

}

@media (max-width:1123px){

.direita {
    width: 90%;
}
.barralateral{
    display: none;
}

}