.d-table thead tr th:nth-child(1),
.d-table tbody tr td:nth-child(1) {
    width: 30%;
}

.d-table thead tr th:nth-child(2),
.d-table tbody tr td:nth-child(2) {
    width: 35%;
}

.d-table thead tr th:nth-child(3),
.d-table tbody tr td:nth-child(3) {
    width: 35%;
}


@media only screen and (max-width: 1200px) and (min-width: 768px) {
    .desktop-listing {
        width: 100%;
    }

    .d-table {
        padding: 0 1rem;
    }
}


@media only screen and (max-width: 867px) {
    .d-list-actions i {
        display: none;
    }


    .d-list-actions {
        gap: 2px;
    }

}
