<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../../public/css/dashboard.css">

</head>
<body>
    
    <div class="capa">
        <div class="esquerdo">
            
            <button class="primeiro"><a href="https://www2.ufjf.br/cat/servicos/graduacao/aproveitamento-de-estudos/" target="_blank" class="link-button">Página Inicial</a></button>

            <button class="segundo"><a href="https://www2.ufjf.br/cat/servicos/graduacao/aproveitamento-de-estudos/" target="_blank" class="link-button">Gerenciar Publicações</a></button>

            <button class="terceiro"><a href="https://www2.ufjf.br/cat/servicos/graduacao/aproveitamento-de-estudos/" target="_blank" class="link-button">Gerenciar Usuários</a></button>

            <button class="quarto"><a href="https://www2.ufjf.br/cat/servicos/graduacao/aproveitamento-de-estudos/" target="_blank" class="link-button">Sair</a></button>

        </div>
        
        <div class="direito">
            <img src="../../../public/assets/toctoc.png">
        </div>
    </div>

</body>
</html>