html, body {
    height: 100%; 
    margin: 0; 
    font-family: 'Amethysta';
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(136deg, rgb(0, 0, 0) 0%, hsl(19, 100%, 50%) 0%, #000000 85%);
    color: white;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
    font-size: 48px; 
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #fe5000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: green;
}

form input[type="file"] {
    padding: 10px;
    margin-bottom: 10px;
}