<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/reset.css">
    <link rel="stylesheet" href="../../../public/css/postslist.css">
    <link rel="stylesheet" href="../../../public/css/adminModals.css">
    <link rel="stylesheet" href="../../../public/css/accordion.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap" rel="stylesheet">
    <title>Lista de Posts</title>
</head>

<body>
    <header class="header">

        <img src="../../../public/assets/logoFundoRemovido.png" class="header-logo" alt="Logo">

        <div class="newPostBox" id="newPostBox">

            <img src="../../../public/assets/cuboFundoRemovido.png" class="cubo" alt="Logo">

            <button type="button" class="button post" id="action-new-post">Criar Novo Post</button>

        </div>

    </header>

    <main class="content">
        <div class="desktop-listing">
            <table class="d-table">
                <thead>
                    <tr>
                        <th>Post</th>
                        <th>Data</th>
                        <th>Ação</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Nome do Post e descrição</td>
                        <td>27/10/2023</td>
                        <td class="d-postList-actions">
                            <button class="button show" id="action-show-post-1"><i class="fa-solid fa-book-open"></i>
                                Visualizar</button>
                            <button class="button edit" id="action-edit-post-1"><i
                                    class="fa-regular fa-pen-to-square"></i> Editar</button>
                            <button class="button delete" id="action-delete-post-1"><i class="fa-solid fa-trash"></i>
                                Excluir</button>
                        </td>
                    </tr>

                    <tr>
                        <td>Nome do Post e descrição</td>
                        <td>27/10/2023</td>
                        <td class="d-postList-actions">
                            <button class="button show" id="action-show-post-2"><i class="fa-solid fa-book-open"></i>
                                Visualizar</button>
                            <button class="button edit" id="action-edit-post-2"><i
                                    class="fa-regular fa-pen-to-square"></i> Editar</button>
                            <button class="button delete" id="action-delete-post-2"><i class="fa-solid fa-trash"></i>
                                Excluir</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="mobile-listing">

            <div class="table-header">
                <h2>Posts</h2>
            </div>

            <div class="accordion" id="accordionUserList">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading_post_1">
                        <button class="accordion-button first" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse_post_1" aria-expanded="false" aria-controls="collapse_post_1">
                            <div class="accordion-button-infos">
                                <span>Título do Post</span>
                                <span>Breve descrição do post</span>
                            </div>
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                    </h2>

                    <div id="collapse_post_1" class="accordion-collapse collapse " aria-labelledby="heading_post_1"
                        data-bs-parent="#accordionUserList">
                        <div class="accordion-body">

                            <div class="accordion_info_row">
                                <span class="label">Autor:</span>
                                <span class="info">Saulo Surerus</span>
                            </div>

                            <div class="accordion_info_row">
                                <span class="label">Data:</span>
                                <span class="info">23/09/2023</span>
                            </div>

                            <div class="accordion_actions">
                                <button class="show" id="action-show-post-1">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                                <button class="edit" id="action-edit-post-1">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button class="delete" id="action-delete-post-1">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading_post_2">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse_post_2" aria-expanded="false" aria-controls="collapse_post_2">
                            <div class="accordion-button-infos">
                                <span>Título do Post</span>
                                <span>Breve descrição do post</span>
                            </div>
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                    </h2>

                    <div id="collapse_post_2" class="accordion-collapse collapse " aria-labelledby="heading_post_2"
                        data-bs-parent="#accordionUserList">
                        <div class="accordion-body">

                            <div class="accordion_info_row">
                                <span class="label">Autor:</span>
                                <span class="info">Pedro Muniz</span>
                            </div>

                            <div class="accordion_info_row">
                                <span class="label">Data:</span>
                                <span class="info">25/11/2023</span>
                            </div>

                            <div class="accordion_actions">
                                <button class="show">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                                <button class="edit">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button class="delete">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </main>

    <div class="modal" id="modal">

        <div class="modal-content " id="modal-delete-post-1">

            <div class="modal-header">
                <h2>Exclusão de Post</h2>
                <span class="modal-close" id="action-modalClose">&#10006;</span>
            </div>

            <form id="form" class="modal-form modal-delete">

                <div class="form-row">
                    <span >Tem certeza que deseja excluir este post?</span>
                </div>

                <div class="modal-footer">
                    <button id="salvar" type="submit" class="button confirm">Salvar</button>
                    <button id="cancelar" class="button cancel">Cancelar</button>
                </div>
            </form>
        </div>

        <div class="modal-content " id="modal-delete-post-2">

            <div class="modal-header">
                <h2>Exclusão de Post</h2>
                <span class="modal-close" id="action-modalClose">&#10006;</span>
            </div>

            <form id="form" class="modal-form modal-delete">

                <div class="form-row">
                    <span >Tem certeza que deseja excluir este post?</span>
                </div>

                <div class="modal-footer">
                    <button id="salvar" type="submit" class="button confirm">Salvar</button>
                    <button id="cancelar" class="button cancel">Cancelar</button>
                </div>
            </form>
        </div>


        <div class="modal-content" id="modal-new-post">
            <div class="modal-header">
                <h2>Novo Post</h2>
                <span class="modal-close" id="action-modalClose">&#10006;</span>
            </div>

            <form id="form" class="modal-form">

                <div class="form-row">
                    <label for="title" class="modal-label">Título</label>
                    <input type="text" id="title" name="title" class="modal-field" required>
                </div>

                <div class="form-row">
                    <label for="date" class="modal-label">Data da Postagem</label>
                    <input type="date" name="date" id="date" class="modal-field" required>
                </div>

                <div class="form-row">
                    <label for="author" class="modal-label">Autor</label>
                    <input type="text" name="author" id="author" class="modal-field" required>
                </div>

                <div class="form-row">
                    <label for="content" class="modal-label">Conteúdo</label>
                    <textarea id="title" name="content" cols="30" rows="10"></textarea>
                </div>

                <div class="modal-footer">
                    <button id="salvar" type="submit" class="button confirm">Salvar</button>
                    <button id="cancelar" class="button cancel">Cancelar</button>
                </div>
            </form>
        </div>

        <div class="modal-content" id="modal-edit-post-1">
            <div class="modal-header">
                <h2>Editar Post</h2>
                <span class="modal-close" id="action-modalClose">&#10006;</span>
            </div>
            <form id="form" class="modal-form">
                <div class="form-row">
                    <label for="title" class="modal-label">Título</label>
                    <input type="text" id="title" name="title" class="modal-field" required>
                </div>

                <div class="form-row">
                    <label for="date" class="modal-label">Data da Postagem</label>
                    <input type="date" name="date" id="date" class="modal-field" required>
                </div>

                <div class="form-row">
                    <label for="author" class="modal-label">Autor</label>
                    <input type="text" name="author" id="author" class="modal-field" required>
                </div>

                <div class="form-row">
                    <label for="content" class="modal-label">Conteúdo</label>
                    <textarea id="title" name="content" cols="30" rows="10"></textarea>
                </div>

                <div class="modal-footer">
                    <button id="salvar" type="submit" class="button confirm">Salvar</button>
                    <button id="cancelar" class="button cancel">Cancelar</button>
                </div>
            </form>
        </div>

        <div class="modal-content" id="modal-edit-post-2">
            <div class="modal-header">
                <h2>Editar Post</h2>
                <span class="modal-close" id="action-modalClose">&#10006;</span>
            </div>
            <form id="form" class="modal-form">
                <div class="form-row">
                    <label for="title" class="modal-label">Título</label>
                    <input type="text" id="title" name="title" class="modal-field" required>
                </div>

                <div class="form-row">
                    <label for="date" class="modal-label">Data da Postagem</label>
                    <input type="date" name="date" id="date" class="modal-field" required>
                </div>

                <div class="form-row">
                    <label for="author" class="modal-label">Autor</label>
                    <input type="text" name="author" id="author" class="modal-field" required>
                </div>

                <div class="form-row">
                    <label for="content" class="modal-label">Conteúdo</label>
                    <textarea id="title" name="content" cols="30" rows="10"></textarea>
                </div>

                <div class="modal-footer">
                    <button id="salvar" type="submit" class="button confirm">Salvar</button>
                    <button id="cancelar" class="button cancel">Cancelar</button>
                </div>
            </form>
        </div>

        <div class="modal-content" id="modal-show-post-1">
            <div class="modal-header">
                <h2>Visualizar Post</h2>
                <span class="modal-close" id="action-modalClose">&#10006;</span>
            </div>
            <form id="form" class="modal-form">
                <div class="form-row">
                    <label for="title" class="modal-label">Título</label>
                    <input type="text" id="title" name="title" class="modal-field" disabled>
                </div>

                <div class="form-row">
                    <label for="date" class="modal-label">Data da Postagem</label>
                    <input type="date" name="date" id="date" class="modal-field" disabled>
                </div>

                <div class="form-row">
                    <label for="author" class="modal-label">Autor</label>
                    <input type="text" name="author" id="author" class="modal-field" disabled>
                </div>

                <div class="form-row">
                    <label for="content" class="modal-label">Conteúdo</label>
                    <textarea id="title" name="content" cols="30" rows="10" disabled></textarea>
                </div>

                <div class="modal-footer">
                    <button id="salvar" type="submit" class="button confirm">Salvar</button>
                    <button id="cancelar" class="button cancel">Cancelar</button>
                </div>
            </form>
        </div>

        <div class="modal-content" id="modal-show-post-2">
            <div class="modal-header">
                <h2>Visualizar Post</h2>
                <span class="modal-close" id="action-modalClose">&#10006;</span>
            </div>
            <form id="form" class="modal-form">
                <div class="form-row">
                    <label for="title" class="modal-label">Título</label>
                    <input type="text" id="title" name="title" class="modal-field" disabled>
                </div>

                <div class="form-row">
                    <label for="date" class="modal-label">Data da Postagem</label>
                    <input type="date" name="date" id="date" class="modal-field" disabled>
                </div>

                <div class="form-row">
                    <label for="author" class="modal-label">Autor</label>
                    <input type="text" name="author" id="author" class="modal-field" disabled>
                </div>

                <div class="form-row">
                    <label for="content" class="modal-label">Conteúdo</label>
                    <textarea id="title" name="content" cols="30" rows="10" disabled></textarea>
                </div>

                <div class="modal-footer">
                    <button id="salvar" type="submit" class="button confirm">Salvar</button>
                    <button id="cancelar" class="button cancel">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/5d993ad3fb.js" crossorigin="anonymous"></script>
    <script src="../../../public/js/modals.js"></script>
    <script src="../../../public/js/accordion.js"></script>
</body>

</html>