<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sidebar.css">
    <link rel="stylesheet" href="reset.css">
    <title>Sidebar</title>
</head>
<body>
    <main>
        <div class="sidebar">
            <button class="sidebar-button" id="sidebar-button" onclick="openSidebar()"><i class="fa-solid fa-bars"></i></button>
            <nav class="sidebar-links sidebar-links-active" id="sidebar-links">
                <a href="/admin/dashboard" class="sidebar-link">
                    <div class="sidebar-link-icon"><i class="fa-solid fa-sliders"></i></div>
                    <div class="sidebar-link-content sidebar-link-content-active">Dashboard</div>
                </a>

                <a href="/admin/posts" class="sidebar-link">
                    <div class="sidebar-link-icon"><i class="fa-solid fa-rectangle-list"></i></div>
                    <div class="sidebar-link-content sidebar-link-content-active">Lista de Posts</div>
                </a>

                <a href="/admin/users" class="sidebar-link">
                    <div class="sidebar-link-icon"><i class="fa-solid fa-users"></i></div>
                    <div class="sidebar-link-content sidebar-link-content-active">Lista de Usuários</div>
                </a>

            </nav>
        </div>
    </main>

    <script src="https://kit.fontawesome.com/5d993ad3fb.js" crossorigin="anonymous"></script>
    <script src="sidebar.js"></script>
</body>
</html>