@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&family=Oswald:wght@200&display=swap');

main{
    font-family: 'Orbitron';
    height: 100vh;
    margin: 0; 
    padding: 0; 
}

body {
    background: linear-gradient(136deg, rgb(0, 0, 0) 0%, hsl(19, 100%, 50%) 0%, #000000 90%);
    height: 100vh;
    margin: 0; 
    padding: 0; 
}

.open-modal {
    background-color: #fe5000;
    width: 20%;
    padding: 20px;
    border-radius: 4px;
}

.open-modal:hover {
    cursor: pointer;
}

#open-modal {
    font-family: 'Orbitron';
}

.modal {
    font-family: 'Orbitron';
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fffafa;
    width: 80%;
    height: auto;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 15%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

.modal-head {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.foraModal {
    font-family: 'Orbitron';
    margin-left: 55vh;
    margin-top: 10vh;
}

.foraModal button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 20%;
}

span {
    font-size: 2rem;
}

.close {
    position: fixed;
    margin-left: 75%;
    cursor: pointer;
}

.content-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 50%;
}

#content-body button {
    font-family: 'Orbitron';
}

label {
    font-size: 2vh;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 2vh;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fffafa;
}

button.save {
    font-size: 1.8vh;
    background-color: #fe5000;
    color: blakc;
    border: none;
    padding: 10px 20px;
    margin: 0px 15px 25px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

button.save:hover {
    background-color: #ff6900;
}

h1 {
    font-size: 48px;
    color: white;
    -webkit-text-stroke: 1px black;
    margin-left: 10%;
}