<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../public/css/reset.css">
  <link rel="stylesheet" href="../../../public/css/style.css">
  <title>Document</title>
</head>

<body>
    <h1>Olhem essa tabela na versão de celular pra pc não ta configurada</h1>
  <main>

    <div class="accordion" id="accordionUserList">

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading_user_1">
          <button class="accordion-button first" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_user_1" aria-expanded="false" aria-controls="collapse_user_1">
            Saulo Surerus
          <i class="fa-solid fa-chevron-down"></i>
          </button>
        </h2>

        <div id="collapse_user_1" class="accordion-collapse collapse " aria-labelledby="heading_user_1" data-bs-parent="#accordionUserList">
          <div class="accordion-body">

              <div class="user_email">
                <span>saulosurerus@hotmail.com</span>
              </div>

              <div class="user_actions">
                <button class="user_show">
                  <i class="fa-solid fa-eye"></i>
                </button>
                <button class="user_edit">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="user_delete">
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading_user_2">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_user_2" aria-expanded="false" aria-controls="collapse_user_2">
            Daniel Thielmann
          <i class="fa-solid fa-chevron-down"></i>
          </button>
        </h2>

        <div id="collapse_user_2" class="accordion-collapse collapse " aria-labelledby="heading_user_2" data-bs-parent="#accordionUserList">
          <div class="accordion-body">

              <div class="user_email">
                <span>daniel@hotmail.com</span>
              </div>

              <div class="user_actions">
                <button class="user_show">
                  <i class="fa-solid fa-eye"></i>
                </button>
                <button class="user_edit">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="user_delete">
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading_user_3">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_user_3" aria-expanded="false" aria-controls="collapse_user_3">
            Felipe Gotelip
          <i class="fa-solid fa-chevron-down"></i>
          </button>
        </h2>

        <div id="collapse_user_3" class="accordion-collapse collapse " aria-labelledby="heading_user_3" data-bs-parent="#accordionUserList">
          <div class="accordion-body">

              <div class="user_email">
                <span>felipe@hotmail.com</span>
              </div>

              <div class="user_actions">
                <button class="user_show">
                  <i class="fa-solid fa-eye"></i>
                </button>
                <button class="user_edit">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="user_delete">
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  <script src="https://kit.fontawesome.com/5d993ad3fb.js" crossorigin="anonymous"></script>
  
  <script src="../../../public/js/script.js"></script>
</body>

</html>