<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Pagina de posts TocToc</title>
    <meta charset="UTF-8">
    <meta name="description" content="lista de posts organizados e com barra de pesquisar">
    <meta name="author" content="Daniel Alves Thielmann">
    <meta name="keywords" content="lista,posts">
    <link rel="stylesheet" href="listPost.css">
</head>

<body>
    <main>

        <section class="barra_pesquisa">
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Pesquisar">
            </div>
        </section>
        
        <section class="postSection">
            <div class="postPrincipal">
                <img class="imagemPrincipal" src="https://i.pinimg.com/originals/88/6c/29/886c2938c5c01eb846092c4bc9bc789d.gif">
                <h2>SOBRE O CUBO MÁGICO</h2>
                <p>Data da Postagem: 16/10/2023</p>
                <p>Exploramos a origem, estrutura e características do icônico Cubo Mágico, também conhecido como Cubo de Rubik.</p>
            </div>
        </section>  

        <div id="postList">
            <section class="postSection">
                <div class="post">
                    <img class="imagemPadrao" src="https://cdn.shopify.com/s/files/1/0270/0342/0758/files/cubes3_480x480.jpg?v=1609225467">
                    <h2>VARIAÇÕES</h2>
                    <p>Data da Postagem: 13/10/2023</p>
                    <p>Descubra as diversas versões e variações do Cubo Mágico, incluindo tamanhos diferentes e modificações de design.</p>
                </div>

                <div class="post">
                    <img class="imagemPadrao" src="https://news.cgtn.com/news/3d3d414f3049444e79457a6333566d54/880dcd9d994047a1a36f49e67b40be1d.gif">
                    <h2>UTILIDADES</h2>
                    <p>Data da Postagem: 12/10/2023</p>
                    <p>Analisamos as várias utilidades do Cubo Mágico, indo além do entretenimento, como ferramenta educacional e terapêutica.</p>
                </div>

                <div class="post">
                    <img class="imagemPadrao" src="https://www.independent.co.uk/s3fs-public/thumbnails/image/2010/11/06/20/490283.jpg?quality=75&width=1200&auto=webp">
                    <h2>DICAS</h2>
                    <p>Data da Postagem: 11/10/2023</p>
                    <p>Oferecemos dicas e estratégias para resolver o Cubo Mágico de forma eficiente e aprimorar suas habilidades.</p>
                </div>

                <div class="post">
                    <img class="imagemPadrao" src="https://bpb-us-e1.wpmucdn.com/sites.roundrockisd.org/dist/c/16/files/2018/02/rubiktournament212018-Copy-v9iwm4.jpg">
                    <h2>EVENTOS</h2>
                    <p>Data da Postagem: 10/10/2023</p>
                    <p>Fique por dentro dos eventos, competições e encontros relacionados ao Cubo Mágico ao redor do mundo.</p>
                </div>

                <div class="post">
                    <img class="imagemPadrao" src="https://cdn.neowin.com/news/images/uploaded/2019/10/1571168861_ezgif-6-de0c1a2332f5.gif">
                    <h2>Cubo e Inteligência Artificial</h2>
                    <p>Data da Postagem: 09/10/2023</p>
                    <p>Neste tema, investigamos a fascinante relação entre o Cubo Mágico e a Inteligência Artificial (IA). Exploramos como algoritmos de IA são aplicados para resolver o Cubo Mágico de forma eficiente, analisando os desafios e inovações nesta interseção entre tecnologia e entretenimento.</p>
                </div>

                <div class="post">
                    <img class="imagemPadrao" src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T1445A2PA3825PT32X21Y0D1026983956W8283H9940/views/1,width=550,height=550,appearanceId=2,backgroundColor=000000,noPt=true/cool-math-rubix-cube-shirt-funny-rubik-cube-math-lunch-bag.jpg">
                    <h2>CUBO E MATEMÁTICA</h2>
                    <p>Data da Postagem: 08/10/2023</p>
                    <p>Conecte-se com a matemática por trás do Cubo Mágico, compreendendo os princípios e algoritmos envolvidos.</p>
                </div>

                <section id="metadeTela">
                    <div class="container">
                        <h1>THINK OUTSIDE THE CUBE</h1>
                        <img class="imagemThinkOutside" src="https://images4.alphacoders.com/606/606866.jpg">
                    </div>
                </section>

                <div class="post">
                    <img class="imagemPadrao" src="https://technabob.com/blog/wp-content/uploads/2021/01/wowcube_gaming_system_1.jpg">
                    <h2>INOVAÇÕES</h2>
                    <p>Data da Postagem: 07/10/2023</p>
                    <p>Acompanhe as inovações tecnológicas e tendências relacionadas ao Cubo Mágico e seus acessórios.</p>
                </div>

                <div class="post">
                    <img class="imagemPadrao" src="https://laughingsquid.com/wp-content/uploads/2022/06/Solving-3-Rubiks-Cubes-While-Juggling.gif?w=480">
                    <h2>DESAFIOS AVANÇADOS</h2>
                    <p>Data da Postagem: 06/10/2023</p>
                    <p>Já se imaginou fazendo malabarismo enquanto monta o cubo? Supere desafios complexos, algoritmos avançados e métodos mais sofisticados para resolver o Cubo Mágico.</p>
                </div>

                <div class="post">
                    <img class="imagemPadrao" src="https://res.cloudinary.com/insta-iq-test/image/upload/c_scale,f_auto,q_auto,w_700/v1628818945/articles/armar-cubo-de-rubik-aumenta-el-ci-en-ni%C3%B1os/cubo-de-rubik-y-su-influencia-en-el-ci.jpg">
                    <h2>MELHORA DA COGNIÇÃO</h2>
                    <p>Data da Postagem: 05/10/2023</p>
                    <p> Explore como a resolução do Cubo Mágico pode aprimorar habilidades cognitivas, como raciocínio lógico e memória.</p>
                </div>

                <div class="post">
                    <img class="imagemPadrao" src="https://i.redd.it/ksgp21lqaik71.png">
                    <h2>HISTÓRIA</h2>
                    <p>Data da Postagem: 04/10/2023</p>
                    <p>Viaje no tempo para descobrir a fascinante história por trás do Cubo Mágico e sua evolução ao longo dos anos.</p>
                </div>

                <div class="post">
                    <img class="imagemPadrao" src="https://www.kotaku.com.au/wp-content/uploads/2023/06/14/5b6d95c5061610d346a76a5abb3527ec.gif?quality=75&w=640&h=360&crop=1">
                    <h2>RECORDES</h2>
                    <p>Data da Postagem: 03/10/2023</p>
                    <p>Mantenha-se atualizado com os recordes mundiais e conquistas notáveis no mundo do Cubo Mágico.</p>
                </div>

                <div class="post">
                    <img class="imagemPadrao" src="https://images.news18.com/ibnlive/uploads/2022/08/rubics-cube-16614978894x3.png">
                    <h2>ALGORITMOS</h2>
                    <p>Data da Postagem: 02/10/2023</p>
                    <p>Aprofunde-se nos algoritmos essenciais para resolver o Cubo Mágico e compreenda as técnicas avançadas utilizadas.</p>
                </div>
            </section>
        </div>

    </main>
</body>

</html>