body {
  font-family: 'Amethysta';
  margin: 36px;
  background-color: #1B1B1B;
  font-size: 18px;
}

#searchInput {
  width: 84.5%;
  padding: 12px;
  margin-left: 7%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
  border-radius: 4px;
  outline: none;
  background-image: url('https://cdn-icons-png.flaticon.com/512/16/16492.png');
  background-position: calc(100% - 20px) center; 
  background-repeat: no-repeat;
  background-size: 23px; 
}

.postPrincipal {
  background-color: #fe5000;
  border: 2px solid black;
  width: 86%;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
  border-radius: 4px;
  position: static;
  font-weight: 300;
  background: linear-gradient(136deg, rgb(0, 0, 0) 0%, hsl(19, 100%, 50%) 0%, #000000 69%);
  color: white;
}

.post {
  color: white;
  background-color: #fe5000;
  border: 2px solid black;
  padding: 20px;
  width: 25%; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
  border-radius: 4px;
  margin: 10px;
  font-weight: 300;
  background: linear-gradient(136deg, rgb(0, 0, 0) 0%, hsl(19, 100%, 50%) 0%, #000000 68%);
}

.imagemPrincipal {
  margin-top: 30px;
  width: 30%; 
  height: auto;
  border-radius: 4px;
}

.postPrincipal h2{
  color: black;
  background-color: white;
  width: 65%;
  text-align: center;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
  border-radius: 4px;
  margin: 25px auto;
  padding: 5px;
  font-weight: bold;
}

.postSection {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px; 
}


#postList h2 {
  color: black;
  background-color: white;
  text-align: center;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
  border-radius: 4px;
  padding: 5px;
  width: 97%;
  font-weight: bold;
}

.imagemPadrao{
  width: 100%;
  height: 300px;
  border-radius: 4px;
  border: 2px black solid;
}

.imagemThinkOutside{
  width: 1600px;
  height: 400px;
  opacity: 0.35;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
  border-radius: 4px;
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-family: 'Montserrat';
  font-size: 40px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
  color: white; 
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);
  border-radius: 4px;
  -webkit-text-stroke: 3px black; 
  font-weight: bold;
}