*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    
}
/* Navbar  */
.navbar{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-around;

    height: 3.75em;
    width: 100%;

    background-color: #fe5000;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);

    z-index: 10;

    padding: 0 4em;
}

.navbar-menu{
    display: none;
}

.navbar-links{
    display: flex;
    justify-content: space-between;

    gap: 2em;

    width: 30%;
}

.navbar-link{
    display: flex;
    flex-direction: row;

    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    font-weight: 500;
}

.navbar-link-icon{
    width: 20px;
    background-image: url("../../../public/assets/cube.png");
    background-size: cover;
    background-position: center;

}

.navbar-link:hover .navbar-link-icon{
    background-image: url("../../../public/assets/cube.gif");
    background-size: cover;

}

#navbar-logo{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;
    
    background-image: url("../../../public/assets/logo.png");
    background-color: #fe5000;
    background-size: 80px;
    background-position: bottom;
    background-repeat: no-repeat;
    
    border-radius: 50%;

    transition: all 0.2s ease-in-out;
}

#navbar-logo:hover{
    height: 104px;
}

.navbar-logo-shadow{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);

}

/* Search Box  */
.searchbox-form{
    display: flex;
    justify-content: center;
    width: 30%;
}

.searchbox{
    display: flex;
    flex-direction: row;
    gap: 0;

    height: 36px;
}

.searchbox-button{
    border-radius: 4px 0px 0px 4px;
    background-color: black;
    padding: 0px 1em; 
}

.searchbox-button:hover{
    cursor: pointer;
}

.searchbox-button:hover i{
    transform: scale(1.1);
}

.searchbox-button i{
    color: white;
}

.searchbox-input{
    border-radius: 0 4px 4px 0;
    width: 230px;
    padding: 0px 1em;
}


/* Footer  */
.footerbar{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    
    align-items: top;
    gap: 15%;

    width: 100%;

    background-color: #fe5000;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.52);

    z-index: 2;

    padding: 0 2em;
    bottom: 0;
}

.footerbar-logo{
    width: 180px;

}

.footerbar-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerbar-column:not(:first-child){
    padding-top: 2em;
}

.footerbar-column h2{
    font-size: 1.4em;
    font-weight: 600;
}

.footerbar-links{
    display: flex;
    flex-direction: column;

    gap: 8px;

    list-style: circle;

}

.footerbar-links li{
    margin-left: 1em;
}

.footerbar-link{
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px black;
}

.footerbar-link:hover{
    color: #f59f77;
}

.footerbar-socials{
    display: flex;
    justify-content: space-between;

    margin-top: 1em;
}

.footerbar-link-social{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    
    width: 46px;
    height: 46px;

    border-radius: 4px;

    text-decoration: none;
}

.footerbar-link-social:hover, .footerbar-link-social:hover i{
    background: #ba8f7c;
    color: white;
}

.footerbar-link-social i{
    color: #fe5000;
}




.fakecontent{
    height: 100vh;


}


@media only screen and (max-width: 1024px) and (min-width: 768px){
    body{
        font-size: 12px;
    }
    
    .searchbox-input{
        width: 160px;
    }


    .footerbar{
        width: 100%;
        gap: 0;
        padding: 0 0.6em;
        padding-bottom: 1em;
    }

    .footerbar-column:not(:first-child){
        width: 30%;
    }

    .footerbar-column:first-child{
        width: 20%;
    }

    .footerbar-column:last-child{
        gap: 0;
    }

    .footerbar-socials{
        margin-top: 6px;
    }

    .footerbar-logo{
        width: 120px;
    }

    .footerbar-socials{
        flex-wrap: wrap;
    }

    .footerbar-link-social{
        width: 20%;
        padding: 0em;
    }
}

@media only screen and (max-width: 767px) {
    body{
        font-size: 8px;
    }

    .navbar,.footerbar{
        padding: 0;
        gap: 0;
    }
    .navbar{
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.52);

    }

    .navbar-links,.searchbox-input{
        display: none;
    }

    .searchbox-input{
        position: absolute;
        top: 185px;
        left: 0;
        width: 100%;
        border: 10px solid #000000;
        border-radius: 0;
        padding: 1em;
    }

    .navbar-links{
        flex-direction: column;
        justify-content: center;
        position: absolute;
        gap: 0;

        top: 55px;
        padding-top: 1em;
        width: 100%;
        z-index: 1;
        background-color: #fe5000;

        height: 130px;
    }

    .navbar-link{
        padding: 1em 0.4em;
        margin: 0 0.6em;
        border-top: 1px solid rgb(3, 3, 3);
    }

    .navbar-link-icon{
        background-image: url("../../../public/assets/cube.gif");
    }

    #navbar-logo,.navbar-logo-shadow{
        width: 80px;
        height: 80px;
    }

    .navbar-menu{
        display: flex;
        justify-content: center;
        width: 30%;
        height: 36px;
    }

    .navbar-menu-button{
        background-color: black;
        color: white;
        padding: 0 1em;
    }

    .navbar-menu-button, .searchbox-button{
        border-radius: 4px;
    }

    .footerbar{
        flex-direction: column;
        align-items: center;
        padding:0 1em;
        padding-bottom: 1em;
    }

    .footerbar-column {
        text-align: center;
        align-items: center;
    }

    .footerbar-links{
        list-style: none;
    }

    .footerbar-logo{
        width: 140px;
    }

    .footerbar-socials{
        width: 100%;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
    }

    .footerbar-socials a{
        width: 40%;
    }



}