<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">

        <title>Visualização de Post Individual</title>
        <link rel="stylesheet" href="../../../public/css/postIndividual.css">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap" rel="stylesheet">


    </head>

    <body>

        <div class="direita exemplo">
            <div class="titulos">
            
                <h2>Think outside the cube</h2>
                <h1 title="Título do Artigo">Sobre o cubo mágico</h1>
                <img src="../../../public/assets/Rubik.avif" alt="Ernő Rubik, criador do cubo mágico">
                <h3>06/10/2023</h3>

            </div>
            
            <div class="texto">
                <h3><p>O Cubo Mágico, também conhecido como Cubo de Rubik, é um quebra-cabeça tridimensional e rotativo. O cubo é dividido em três camadas que podem ser giradas em torno de seus respectivos eixos por rotações de 90 graus. Um mecanismo de eixo permite que cada face gire de forma independente, misturando as cores. Um cubo clássico de Rubik tem seis cores uniformes, tradicionalmente branco, vermelho, azul, laranja, verde e amarelo.</p>

                <p>O jogador deve misturar as cores e depois mover cada face do cubo para colocar de volta à sua posição inicial, deixando cada fase com a mesma cor. À primeira vista, essa tarefa parece extremamente difícil, mas estratégias foram desenvolvidas desde o início, cujo conhecimento permite uma solução relativamente fácil.</p>

                <p>Foi inventado em 1974 pelo húngaro Erno Rubik, professor de arquitetura, que o chamou de “Cubo Mágico”. O inventor explicou que queria treinar as habilidades de pensamento espacial de seus alunos pois percebeu que eles tinham pouco conhecimento de geometria na escola. Mas seu invento era muito mais do que um recurso de aprendizagem e chamou a atenção de cientistas, matemáticos e físicos.</p>

                <p>Em um congresso internacional de matemática em Helsinque, professores giraram seus cubos por horas. Em 1979, o “Cubo Mágico” foi apresentado na feira de brinquedos de Nuremberg e, a partir de 1980 estava disponível nas lojas com o nome “Cubo de Rubick” fabricado pela Ideal Toy Corporation.
                    Rapidamente o produto se popularizou e as vendas estouraram. Um total de 160 milhões de cubos foram vendidos em 1981. Jovens conhecidos como “cubers” ficaram famosos pela destreza em resolver o desafio do cubo. Desde 2003, são registrados os recordes de velocidade dos “speedcubers” na resolução do cubo.</p>

                <p>O primeiro campeonato mundial, aconteceu em 31 de março de 1981, organizado pelo <i>Guinness Book of Records em Munique</i>, Alemanha. O vencedor do campeonato foi Jury Fröschl, de Munique com um tempo recorde de 38 segundos.</p>

                <p>O atual recorde mundial para um cubo 3x3x3 (padrão do cubo original) é de 3,47 segundos e foi estabelecido pelo chinês Yusheng Du no campeonato <i>Wuhu Open 2018</i>, na China.</p>

                <p>Há ainda campeonatos em que os jogadores usam apenas uma mão ou ficam com os olhos vendados.</p>

                <p>Existem variações do Cubo de Rubik com vários números de quadrados por face. As principais versões existentes são: 3x3x3 (o cubo original) 4x4xx (chamado “a vingança de Rubick), 5x5x5 (chamado “ cubo do mestre”), 6x6x6 e 7x7x7.
                    Em 2012, a empresa Shengshou lançou no mercado cubos 8x8x8, 9x9x9, 10x10x10, 11x11x11, 12x12x12, 13x13x13, 15x15x15 até 33x33x33.</p>

                <p>Desde então, novos produtos e novas marcas foram lançadas incluindo formas geométricas diferentes: tetraedro, octaedro, dodecaedro e icosaedro.</p></h3>
            </div>
        </div>
    </body>

</html>
